<%- include('./partials/header') %>
    
<div class="card text-center description">
  <h6> Welcome to the Birthday Reminder App! Use this app to receive a friendly text message on all of your friend's birthdays!</h6>
</div>

<img class="birthday-img" src="https://www.readersdigest.ca/wp-content/uploads/2019/02/hilarious-birthday-jokes.jpg">

<%- include('./partials/footer') %>
