<%- include('./partials/header') %>
    <p> Welcome to the Birthday Reminder App! Use this app to receive a friendly text message on all of your friend's birthdays!</p>
<%- include('./partials/footer') %>
